    
@media all {
    footer aside.ym-col1 { width: 33.333%; margin: 0;} /* left column */
    footer aside.ym-col2 { width: 33.333%; float:left; margin: 0; } /* center column */
    footer aside.ym-col3 { margin-left: 66.666%; margin-right: 0; } /* right column */
}